{% extends 'base.html' %}

{% block head %}
    <title>Sneaky Fashy - Login</title>
{% endblock %}

{% block body %} 
    <form action = "/setcookie" method = "POST">
        <p><h4>What would you like to be called?</h3></p>
        <p><input type = 'text' name = 'nm'/></p>
        <p><h4>What is your game room called?</h3></p>
        <p>If you are the first one here, come up with your own room name.</p>
        <p><input type = 'text' name = 'gm'/></p>
        <p><input type = 'submit' value = 'Login'/></p>
    </form>
{% endblock %}